/* Custom color theme properties */
:root {
  --f7-theme-color: #2a74e2;
  --f7-theme-color-rgb: 217, 216, 86;
  --f7-theme-color-shade: #2a74e2;
  --f7-theme-color-tint: #2a74e2;
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
  --f7-badge-size: 25px;
  --f7-badge-font-size: 17px;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-link-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 217;
  --g: 216;
  --b: 86;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Your app custom styles here */

.page-content {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

/* HOME */
#titel {
  font-size: 25px;
  margin: 0em;
  text-align: center;
}

.btnVerzendProject {
  width: 90%;
  margin: 5% 5%;
}

#naamProject {
  font-size: 24px;
  height: 30px;
  text-align: center;
  color: black;
}



/* Projecten */

/* List margin links verwijderen */
.md .list .item-media {
  min-width: 0px;
}

.projectAanmakenIconBlock {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectAanmakenText {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.aantalProducten {
  font-size: 15px;
}

.pCenter {
  text-align: center;
}

/* Upload foto */

.imgPost {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.tabGrid {
  margin-top: -90px;
  margin-bottom: -90px;
}

.ProductImage {
  border: 1px solid #ddd;
  border-radius: 4px;
  opacity: 0.3;
}

.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11px;
}

.container {
  position: relative;
}

.iconProjectList {
  margin-left: 150px;
  padding-bottom: -200px;
}

.textCenter {
  text-align: center;
}

.addProductIcon {
  background-color: #2a74e2;
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  padding-right: 10px;
}

.toevoegenExtraProduct {
  padding-left: 13px;
  padding-top: 5px;
}

.swipeoutButton {
  margin: 0px;
  width: 55px;
}
